

/* Seção Hero */
#hero {
    background-color: #f0f0f0;
    background-image: url("img/fundo.png");
    background-repeat: no-repeat;
    background-position: top 100% right 30%;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
}

/* Texto principal */
.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 64px;
    line-height: 1.1;
}

.hero-content p {
    font-family: 'Satoshi';
    font-size: 16px;
    color: #666;
    margin: 20px 0;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}

.stats h3 {
    text-align: left;
    font-size: 34px;
    font-weight: bold;
    line-height: 0.01;
}

.stats p {
    font-size: 14px;
    color: #666;
}

.shop-btn {
    display: inline-block;
    background: black;
    color: white;
    padding: 12px 50px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 15px;
}
.divider {
    width: 1px;
    height: 70px;
    background: #ccc;
    margin-bottom: 50px;
}

.star {
    position: absolute;
}

/* Posicionamento */
.star1 {
    width: 104px;
    height: 104px;
    top: 30%;
    right: 7%;
}

.star2 {
    width: 56px;
    height: 56px;
    bottom: 38%;
    left: 50%;
}
.brand-bar {
    background-color: black;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.brand-bar div {
    color: white;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "Arial", sans-serif;
}

.brand-bar .prada {
    font-weight: bold; /* PRADA em negrito */
}

/* Responsividade para telas menores */
@media (max-width: 600px) {
    .brand-bar {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}
/* Seção New Arrivals */
#novidades {
    text-align: center;
    padding: 50px 80px;
}

#novidades h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* Container dos produtos */
.product-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* Estilização dos produtos */
.product {
    width: 22%;
    min-width: 250px;
    background: #f8f8f8;
    padding: 10px 12px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.product img {
    width: 100%;
    max-height: 320px;
    border-radius: 15px;
    cursor: pointer;
}

.product h3 {
    font-size: 18px;
    margin: 10px 0;
}

/* Avaliação */
.rating {
    font-size: 14px;
    color: #565451;
}

/* Preços */
.price {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    margin-top: 10px;
}

.old-price {
    text-decoration: line-through;
    color: gray;
    font-size: 18px;
    margin-right: 5px;
}

.discount {
    background: #fbbcb891;
    color: rgb(250, 52, 52);
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 5px;
}
/* Botão "View All" */
.view-all {
    margin-top: 60px;
    padding: 12px 70px;
    font-size: 16px;
    background: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2s ease;
}

.view-all:hover {
    background: black;
    color: white;
    border: none;
}

.divider1 {
    width: 1500px;
    height: 1px;
    background: #ccc;
    margin-left: 100px;
    margin-top: 10px;
}

#top-selling {
    text-align: center;
    padding: 50px 80px;
}

#top-selling h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 40px;
}